/* ORCID-recommended CSS (https://members.orcid.org/sites/default/files/connect-button.txt) */

.connect-orcid-button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

#connect-orcid-button {
  border: 1px solid #d3d3d3;
  padding: 0.3em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  color: #999;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 24px;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-top: 10px;
}

#connect-orcid-button:hover {
  border: 1px solid #338caf;
  color: #338caf;
}

#orcid-id-icon {
  display: block;
  margin: 0 0.5em 0 0;
  padding: 0;
  float: left;
}

button {
  border: none;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 10px; */
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.author-name {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}
.author-name .item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logout_button {
  background-color: lightgray;
}
.logout_button:hover {
  background-color: gray;
}
