.overlay {
  cursor: default;
  position: fixed;
  z-index: 100000;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* brg 10/22/2020 I barely understand flexbox, but this works. */
/* - .body fills the space remaining after .header without overflowing. */
/* - Scrolling works without explicitly setting a height prop on .body. */
/* https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */
.annotation_list {
  display: flex;
  flex-flow: column;
  /* position: absolute; */
  z-index: 100001;
  margin: 10vh auto;
  width: 50vw;
  max-height: 80vh;
  min-width: 300px;
  background-color: var(--modal-background-color, white);
  border-radius: 4px;
}

.annotation_item {
  color: var(--modal-font-color, black);
  font-weight: normal;
  background-color:var(--modal-card-color, white);
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: default;
  /* border-style: solid; */
  /* border-color: white; */
}

.annotation_author {
  /* font-size: large;
  font-weight: bold; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.orcidLink {
  cursor: pointer;
  padding-right: 10px;
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.orcidLink a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* for annotation date, etc. */
.annotation_metadata {
  font-size: smaller;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 5px;
}

.body {
  /* flex: 1 1 auto; */
  padding: 20px;
  padding-top: 0px;
  overflow-y: scroll;
  background-color: var(--modal-background-color, white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.header {
  color: #3b99e0;
  background-color: var(--modal-background-color, white);
  /* flex: 0 1 auto;
  display: block; */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  z-index: 10000000;
  font-size: 20px;
  border-radius: 4px;
  text-align: center;
  padding-bottom: 25px;
}

button {
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: inherit;
  width: 150px;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
}

.add_button {
  background-color: #4caf50; /* Green */
  margin: auto;
}
.add_button:hover {
  background-color: #3e8e41;
}

.cancel_button {
  background-color: red;
}
.cancel_button:hover {
  background-color: darkred;
}

textarea {
  resize: none;
  width: 100%;
  height: 200px;
  font-size: 20px;
  font-family: inherit;
  /* padding: 10px 20px; */
}

.closeContainer {
  display: flex;
  flex-direction: row-reverse;
}
/* pure CSS close X - https://codepen.io/brissmyr/pen/egidw */
.close {
  /* position: absolute;
  right: 32px;
  top: 32px; */
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  top: 10vh;
  margin-left: 12px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
