.overlay {
  cursor: default;
  position: fixed;
  z-index: 100000;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* brg 10/22/2020 I barely understand flexbox, but this works. */
/* - .body fills the space remaining after .header without overflowing. */
/* - Scrolling works without explicitly setting a height prop on .body. */
/* https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */
.annotation_list {
  display: flex;
  position: relative;
  flex-flow: column;
  /* position: absolute; */
  z-index: 100001;
  margin: 10vh auto;
  width: 50vw;
  max-height: 80vh;
  min-width: 440px;
  background-color: var(--modal-background-color, white);
  border-radius: 4px;
}

.annotation_item {
  color: var(--modal-font-color, black);
  font-weight: normal;
  background-color: var(--modal-card-color, white);
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 15px;
  border-radius: 5px;
  border-left: 5px solid var(--badge-border-color, skyblue);
  cursor: default;
}
.annotation-text {
}

.annotation_author {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.orcidLink {
  cursor: pointer;
  padding-right: 10px;
  padding-left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.orcidLink a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* for annotation date, etc. */
.annotation_metadata {
  font-size: smaller;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 5px;
}

.body {
  /* flex: 1 1 auto; */
  padding: 15px;
  /* padding-top: 0px; */
  overflow-y: scroll;
  background-color: var(--modal-background-color, white);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  /* margin-top: -44px; */
}

.header {
  color: #3b99e0;
  background-color: var(--modal-background-color, white);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  z-index: 1000;
  font-size: 20px;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-hang-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#info_i {
  cursor: pointer;
}

button {
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
  width: 150px;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
}

.add_button {
  position: absolute;
  top: 52px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  background-color: #19b69a; /* Green */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  margin: auto;
  width: 50px;
  min-height: 50px;
  z-index: 1000000;
  border-radius: 50px;
}
.add_button:hover {
  background-color: #00a888;
}
@keyframes fadein {
  from {
    height: 0;
  }
  to {
    height: 1;
  }
}

.add-annotation {
  animation: fadein 0.3s;
  padding: 20px;
  padding-bottom: 0;
  height: 150px;
  font-size: small;
}

.add-annotation button {
  width: 70px;
  font-size: 15px;
}
#submit_button {
  background-color: #19b69a;
}
#submit_button:hover {
  background-color: #00a888;
}
.cancel_button {
  background-color: white;
  color: grey;
  border: 1px solid grey;
  box-sizing: border-box;
}
.cancel_button:hover {
  background-color: lightgray;
  color: black;
}

textarea {
  resize: none;
  width: 100%;
  height: 90px;
  font-family: inherit;
  border-radius: 4px;
}

.closeContainer {
  position: relative;
  float: right;
  width: 20px;
  height: 20px;
  transform: translate(20px, 0);
}

#close-x {
  width: 25px;
  height: 25px;
  opacity: 0.6;
  margin-top: -5px;
  margin-right: -5px;
}
#close-x:hover {
  cursor: pointer;
  opacity: 0.9;
}
.close-x-sub {
  height: 20px;
  width: 2px;
  margin-left: 12px;
  background-color: black;
  transform: rotate(45deg);
  z-index: 1;
}
.close-x-subsub {
  height: 20px;
  width: 2px;
  background-color: black;
  transform: rotate(90deg);
  z-index: 2;
}
