.overlay {
  position: fixed;
  z-index: 100000;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color:rgba(0,0,0,0.5);
}

/* brg 10/22/2020 I barely understand flexbox, but this works. */
/* - .body fills the space remaining after .header without overflowing. */
/* - Scrolling works without explicitly setting a height prop on .body. */
/* https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */
.annotation_list {
  display: flex;
  flex-flow: column;
  position: absolute;
  z-index: 100001;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background-color: goldenrod;
}

.annotation_item {
  font-weight: normal;
  background-color: palegoldenrod;
  border-style: solid;
  border-color: firebrick;
}

.annotation_author {
  font-size: large;
  font-weight: bold;
}

/* for annotation date, etc. */
.annotation_metadata {
  font-size: smaller;
}

.body {
  flex: 1 1 auto;
  padding: 20px;
  overflow-y: scroll;
  background-color: lightgoldenrodyellow;
}

.header {
  flex: 0 1 auto;
  display: block;
  background-color: bisque;
  font-size: 35px;
}

.close_x {
  position: absolute;
  top: 16px;
  right: 16px;
}